<nav>
  <ul>
    <li><%= link_to "Homepage", root_path %></li>
  </ul>
</nav>

<h1><%= @post.title %></h1>

<p><%= @post.body %></p>


<%= link_to "Edit this Post", edit_post_path(@post) %>
<br>
<%= link_to "Delete this Post", post_path(@post), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?" }%>
<br><br>
